{% extends "base.twig" %}
{% set active_page = "dashboard" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
  <h1 class="page-header">Dashboard</h1>

  <p>
    <button type="button" class="btn btn-primary btn-lg">New submission</button>
  </p>

  <h2>Active submissions </h2>
  <div class="panel panel-default">
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Date</th>
          <th>New review</th>
          <th>Section</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Latex programming language tutorial</td>
          <td>2015-01-04</td>
          <td><a href="#"><span class="badge">4</span></a></td>
          <td>Programmation</td>
          <td>In review</td>
        </tr>
        <tr>
          <td>You spin my head right round</td>
          <td>2015-02-02</td>
          <td><a href="#"><span class="badge">1</span></a></td>
          <td>Music</td>
          <td>In review</td>
        </tr>
        <tr>
          <td>Purpose of human right</td>
          <td>2015-01-15</td>
          <td><a href="#"><span class="badge disable">0</span></a></td>
          <td>Philosophy</td>
          <td>In review</td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}