{% extends "base.twig" %}
{% set active_page = "reviewer_reviewing" %}

{% block title %}Active reviewing{% endblock %}

{% block content %}
  <h1 class="page-header">Active reviewing</h1>
{% endblock %}